body{
  background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		
	}


.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
.form-links a {
	color: #fff;
}


.form-control-borderless {
	border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}	
.card{
	cursor: pointer;
}
.product-card{
	margin: 5px 9px;
	width: 22rem;
	display: inline-block;
}
.product-card img{
	max-height: 292px;
}
.card-desc, .card-title, .cart .product-name, .cart .product-description{
	white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-description{
	font-size: 14px;
}
.card-title:hover{
overflow: visible;
white-space: pre-line;
}
/* cart */
.cart{
	margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.quantity {
	float: left;
	margin-right: 15px;
	background-color: #eee;
	position: relative;
	width: 80px;
	overflow: hidden
}

.quantity input {
	margin: 0;
	text-align: center;
	width: 15px;
	height: 15px;
	padding: 0;
	float: right;
	color: #000;
	font-size: 20px;
	border: 0;
	outline: 0;
	background-color: #F6F6F6
}

.quantity input.qty {
	position: relative;
	border: 0;
	width: 100%;
	height: 40px;
	padding: 10px 25px 10px 10px;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	border-radius: 0;
	background-clip: padding-box
}

.quantity .minus, .quantity .plus {
	line-height: 0;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-background-size: 6px 30px;
	-moz-background-size: 6px 30px;
	color: #bbb;
	font-size: 20px;
	position: absolute;
	height: 50%;
	border: 0;
	right: 0;
	padding: 0;
	width: 25px;
	z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
	background-color: #dad8da
}

.quantity .minus {
	bottom: 0
}
.shopping-cart {
	margin-top: 20px;
}
.price span{
	color: #ff9f1a !important;
}
.add-product-card{
	max-width: 45%;
	margin: auto;
}
.logo{
	border-radius: 50px;
	font-weight: bolder;
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 50px;
    padding-top: 11px;
    height: 50px;
    padding-left: 9px;
}
.logo:hover{
  color: #fff;
  text-decoration: #fff;
}
@media (min-width: 320px) and (max-width: 768px) {
	.product-btn{
		width: 100%;
	}
	.product-card{
		width: 100%;
		margin: 10px 0;
	}
	.add-product-card{
		max-width: 100%;
	}
	.product-detail-box .media{
		display: inline-block;
	}
	.product-detail-box .container{
		padding: 0;
	}
	.product-detail-box .media-body{
		padding: 20px 0px;
	}
 }